/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-clr: #ff0070;
  --background-clr: #000028;
  --accent-clr-with-background: #000028;
  --accent-heading-clr: #db00ff;
  --text-clr: #f1b2ce;
  --button-hover-clr: #ff007066;
  --heading-clr: #ff0070;
  --decorative-bracket-clr: #ff0070;
  --menu-clr: #ff0070;
  --headers-clr: #ff0070;
  --rec-decoration-clr: #ff0070;
  --cover-image: url(../images/cover-image-dark.png);
}
